<div class="row">
    <dv-loading ng-show="loading"></dv-loading>
    <div ng-hide="loading" class="col-lg-6" ng-repeat="bookmark in bookmarksByCategory | orderBy:'name' | filter:{name: search.input}">
    <dv-widget>
      <dv-widget-header icon="{{bookmark.category.icon}}" title="{{bookmark.name}}" url="{{bookmark.url}}">
        <div class="item dropdown" uib-dropdown>
          <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
            <i class="fa fa-ellipsis-h pull-right bookmark-options" aria-hidden="true"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li class="link">
              <a href="#/bookmarks" ng-click="edit(bookmark)">Edit</a>
            </li>
            <li class="divider"></li>
            <li class="link">
              <a href="#/bookmarks" ng-click="delete(bookmark)">Remove</a>
            </li>
          </ul>
        </div>
      </dv-widget-header>
      <dv-widget-body classes="medium no-padding">
        <img src="../img/status.gif" class="widget-snapshot">
      </dv-widget-body>
      <dv-widget-footer>
        <ul class="tags">
          <li><a href="#/bookmarks" class="tag">Tag#1</a><a href="#/bookmarks" class="tag">Tag#2</a></li>
        </ul>
      </dv-widget-footer>
    </dv-widget>
  </div>
</div>